h1{
  color: #F1B82D;
  font-size: 42px;
  text-align: center;
}
  
h2 {
  color: #F1B82D;
  font-size: 36px;
  text-align: center;
}

p {
  color: #F1B82D;
  font-size: 24px;
}

.resume-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    border: 2px solid #000000;
    background-color: #F1B82D;
    color: #000000;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.about-list {
    list-style-type: circle;
    margin: 20px;
    padding: 10px;
}

.about-list li {
    font-size: 18px;
    color: #F1B82D;
    margin-bottom: 8px;
}

.reflection-paragraph:first-of-type::first-letter {
    font-size: 2.2;
    font-weight: bold;
    color: #F1B82D;
}

.reflection-paragraph:nth-of-type(even) {
    text-indent: 2em;
}

.reflection-box {
    max-width: 900px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border: 2px solid #B8B8B8;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: start;
}

.profile-img {
  width: 100%;
  max-width: 350px;
  height: auto;
}